.popup {
  margin: 0 20px;
  pointer-events: 
  auto;
}

.text-el {
  display: flex;
  flex-wrap: wrap;
  &>div {
    white-space: nowrap;
    position: relative;
    top: -20px;
    padding: 2px 5px;
    background-color: rgb(73, 132, 226);
    border-radius: 10px;
    color: #ffffff;
  }
}

.outer-circle {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.outer-circle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: pink;
  animation: ripple 2s infinite;
}

.inner-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

@keyframes ripple {
  0% {
      transform: scale(0.8);
      opacity: 1;
  }
  100% {
      transform: scale(2);
      opacity: 0;
  }
}